<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<table>
  <tr> <td>Token:</td><td><%= Rails.application.config.secret_token -%></td> </tr>
  <tr> <td>Key:</td><td><%= Rails.application.config.session_options[:key] -%></td> </tr>
</table>
